<form action="/suma" method="post">
  <label for="text">Numero 1</label>
  <input type="text" name="txtNum1"
    value="{{txtnum1}}" placeholder="Ingrese Numero 1"
    />
    <br />
    <label for="text">Numero 2</label>
    <input type="text" name="txtNum2"
      value="{{txtnum2}}" placeholder="Ingrese Numero 2"
      />
      <br />
    <input type="submit" value="Sumar" id="btnSubmit"
      name="btnSubmit"/>
</form>
<div>
  <ul>
    {{#each sum}}
      <li>
        {{this}}
      </li>
      {{/each}}
  </ul>

</div>
